.header {
    position: relative;
    z-index: 1;
    min-height: 485px;

    .banner_inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 485px;
        background: url(./common-banner.webp) no-repeat right bottom;
        background-size: 90% 85%;
        width: 98%;
        z-index: 1;

        .banner_content {
            margin-left: 50px;
            margin-top: 100px;

            h2 {
                color: var(--white);
                font-size: 3.1rem;
                font-family: "Rubik", sans-serif;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .page_link a {
                font-size: 14px;
                color: #fff;
                font-family: "Roboto", sans-serif;
                margin-right: 20px;
                position: relative;

                &:before {
                    content: "-";
                    position: absolute;
                    right: -14px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child {
                    margin-right: 0px;

                    &:before {
                        content: " ";
                    }
                }
            }
        }

    }
}


@media only screen and (max-width: 720px) {


    .header .banner_inner .banner_content {
        margin-left: 12px;
        h2{
            font-size: 2.6rem;
        }
    }
}