.footer {
    margin-top: var(--def-margin);
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: -200px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: #f9f9fd;
        z-index: -1;
    }

    .footer_logo {
        text-align: center;

        img {
            margin-left: 1rem;
        }

        h4 {
            font-size: 20px;
            color: #000000;
            margin-top: 35px;
            text-transform: uppercase;
        }
    }

    .footer_social {
        text-align: center;
        margin: 25px 0px 30px;

        a {
            padding: 0 20px;
            color: #788489;
            font-size: 22px;
            transition: var(--transition);

            &:hover {
                color: var(--primary);
            }

        }
    }

    .footer_bottom {
        text-align: center;

        p {
            margin-bottom: 0;
            padding-bottom: 2rem;
            color: #788489;

            span {
                color: var(--primary);
            }
        }
    }

}